.header {
  &__title {
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    color: rgb(180, 51, 180);
    text-shadow: black 2px 5px;
    font-family: fantasy;
  }

  &__scoreboard {
    text-align: center;
    border: 2px solid black;
    box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, 0.2);
    padding: auto;
    margin: 100px 350px 50px;
    font-size: 25px;
    font-weight: bolder;
    color: whitesmoke;
    text-shadow: black 2px 5px;
    background-color: rgb(180, 51, 180);
    font-family: fantasy;

    &-player {
      padding-right: 20px;
    }
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3px;
  height: 55vh; //height: 70vh;
  width: 45vw; //width: 45vw;
  margin: auto;
  font-family: fantasy;

  &__tile {
    height: 18vh; //height: 22vh;
    width: 14.5vw; //width: 14vw;
    padding-top: 20px;
    border: 2px solid black;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 255, 0.2);
    border-radius: 2px;
    color: whitesmoke;
    text-shadow: black 2px 5px;
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(180, 51, 180);
    cursor: pointer;
  }
}
