@use "./media-queries.scss";

body {
  background-color: rgb(42, 15, 92);
}

.header {
  &__title {
    text-align: center;
    font-size: 70px;
    font-weight: bolder;
    margin: 30px 60px 10px 60px;
    color: rgb(255, 34, 204);
    text-shadow: black 5px 5px;
    font-family: fantasy;

    @include media-queries.phone {
      font-size: 40px;
    }
  }

  &__scoreboard {
    text-align: center;
    margin: 50px auto;
    font-size: 50px;
    font-weight: bolder;
    font-family: fantasy;

    @include media-queries.phone {
      font-size: 25px;
    }

    &-player {
      display: inline-block;
      color: rgb(255, 34, 204);
      text-shadow: black 2px 5px;
      border-bottom: 10px solid black;
      padding: 10px;
      margin: 5px;
      width: 100px;
    }
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 16px;
  height: 60vh;
  width: 50vw;
  margin: auto;
  font-family: fantasy;

  @include media-queries.phone {
    column-gap: 8px;
  }

  &__tile {
    height: 16vh; //height: 22vh;
    width: 17vw; //width: 14vw;
    padding-top: 20px;
    box-shadow: 18px 14px 8px black;
    color: rgb(46, 18, 97);
    text-shadow: rgba(0, 0, 255, 0.3) 2px 5px;
    font-size: 90px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 34, 204);
    cursor: pointer;

    @include media-queries.phone {
      font-size: 40px;
    }
  }
}

.contact {
  position: relative;
  margin-top: 30px;
  opacity: 1;
  color: rgb(130, 105, 177);
  font-family: fantasy;
  text-align: center;
  text-shadow: rgba(0, 0, 255, 0.3) 3px 2px;
}

// #tile_1,
// #tile_4,
// #tile_7 {
//   border-right: 10px solid rgba(0, 0, 255, 0.3);
// }

// #tile_3,
// #tile_6,
// #tile_9 {
//   border-left: 10px solid rgba(0, 0, 255, 0.3);
// }

// #tile_1,
// #tile_2,
// #tile_3,
// #tile_4,
// #tile_5,
// #tile_6 {
//   border-bottom: 10px solid rgba(0, 0, 255, 0.3);
// }
